<div id="navAdmin">
<picture id="logo"> 
    <img src="{{ asset('logo.png') }}" alt="logo">
</picture>

<button id="burger"><img id="burger-icon" src="{{ asset('Decor/burger.png') }}" alt="menu"></button>


<ul id="menu">
<li><a href="{{ path('app_page') }}">Accueil</a></li>
<li><a href="{{ path('admin_dashboard') }}">Espace Admin</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
</ul>
</div>


