<div id="navAdmin">
<picture id="logo"> 
    <img src="{{ asset('images/logo.png') }}" alt="logo">
</picture>

<button id="burger">☰</button>

    <ul id="menu">
      <li><a href="{{ path('app_page') }}">Accueil</a></li>
      <li><a href="{{ path('educateur_dashboard') }}">Espace Educateur</a></li>
      {% if app.user %}
          <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
      {% else %}
          <li><a href="{{ path('app_login') }}">Connexion</a></li>
      {% endif %}
  </ul>

</div>

<script>

let isMenuOpen = false;

function toggleBurgerMenu() {
    const burger = document.getElementById("burger");
    const menu = document.getElementById("menu");
     
    if (isMenuOpen) {
        menu.classList.remove("show");
        burger.textContent = "☰";
        isMenuOpen = false;
    } else {
        menu.classList.add("show");
        burger.textContent = "✕";
        isMenuOpen = true;
    }
}

document.addEventListener("DOMContentLoaded", () => {
    const burger = document.getElementById("burger");
    
    burger.onclick = toggleBurgerMenu;
    
    burger.textContent = "☰";
    isMenuOpen = false;
    
});
</script>