<div id="navAdmin">
<picture id="logo"> 
    <img src="{{ asset('images/logo.png') }}" alt="logo">
</picture>
<ul>
<li><a href="{{ path('app_page') }}">Accueil</a></li>
<li><a href="{{ path('parent_dashboard') }}">Espace Parent</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
</ul>
</div>