<div id="navAdmin">
<picture id="logo"> 
    <img src="{{ asset('images/logo.png') }}" alt="logo">
</picture>

<button id="burger"><img id="burger-icon" src="{{ asset('Decor/burger.png') }}" alt="burger"></button>

    <ul id="menu">
      <li><a href="{{ path('app_page') }}">Accueil</a></li>
      <li><a href="{{ path('educateur_dashboard') }}">Espace Educateur</a></li>
      {% if app.user %}
          <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
      {% else %}
          <li><a href="{{ path('app_login') }}">Connexion</a></li>
      {% endif %}
  </ul>

</div>

