<button class="sidebar-toggle" id="sidebarToggle">
  ☰ MenuMinus
</button>

<div class='sidebar'>
<a href="{{ path('app_daily_planning') }}" class="nav-link">Suivi quotidien des Minus</a>
<p class="petitsMots">Petits Mots
<a href="{{ path('messages_inbox')}}">Reçus
{% set unreadCount = unread_messages_count() %}
{% if unreadCount > 0 %}
    <span class="badge badge-warning">nouveau {{ unreadCount }}</span>
{% endif %}
</a>
<a href="{{ path('messages_send')}}">A envoyer</a>
</p>
<a href="{{ path('app_educateur_dashboard_child') }}">Fiches des Minus</a>
<a href="{{ path('app_educateur_child_journal') }}">Journaux des Minus</a>
{% for group in groups %}
    <a href="{{ path('app_educateur_group', { name: group.name }) }}">
        Groupe {{ group.name }}
    </a>
{% endfor %}
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const sidebar = document.getElementById("sidebar");
      const toggleBtn = document.getElementById("sidebarToggle");

      toggleBtn.addEventListener("click", function() {
        sidebar.classList.toggle("sidebar-visible");
      });
    });
  </script>