<button class="sidebar-toggle" id="sidebarToggle">
  ☰ MenuMinus
</button>

<div class="sidebar" id="sidebar">
<a href="{{ path('app_admin_dashboard_child') }}">Fiche des Minus</a>
<a href="{{ path('app_daily_planning') }}" class="nav-link">Présence des Minus  </a>
<a href="{{ path('app_admin_dashboard_journal')}}">Journaux des Minus</a>
{% if lastSemainier is defined and lastSemainier %}
    <a href="{{ path('app_semainier_show', {id: lastSemainier.id}) }}">Semaine des Minus</a>
{% else %}
    <span class="text-muted">Aucun semainier disponible</span>
{% endif %}
<p class="petitsMots">Petits Mots
<a href="{{ path('messages_inbox')}}">Reçus
{% set unreadCount = unread_messages_count() %}
{% if unreadCount > 0 %}
    <span class="badge badge-warning">nouveau {{ unreadCount }}</span>
{% endif %}
</a>
<a href="{{ path('messages_send')}}">A envoyer / Envoyés</a>
</p>
<a href="{{ path('parent_create_form')}}">Créer un Parent de Minus</a>
<a href="{{ path('app_child_new')}}">Créer un Minus</a>
<a href="{{ path('educ_create_form')}}">Créer un Educateur</a>
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const sidebar = document.getElementById("sidebar");
      const toggleBtn = document.getElementById("sidebarToggle");

      toggleBtn.addEventListener("click", function() {
        sidebar.classList.toggle("sidebar-visible");
      });
    });
  </script>