<div class="sidebar">
<a href="{{ path('app_admin_dashboard_child') }}">Fiche des Minus</a>
<a href="{{ path('app_daily_planning') }}" class="nav-link">Présence des Minus  </a>
<a href="{{ path('app_admin_dashboard_journal')}}">Journaux des Minus</a>
<a href="{{ path('app_semainier_index')}}">Semaine des Minus</a>
<a href="">Petits Mots</a>
<a href="">Reçus</a>
<a href="">Envoyés</a>
<a href="">A envoyer</a>
<a href="">Gestion des rôles</a>
<a href="">Créer un Parent de Minus</a>
<a href="{{ path('app_child_new')}}">Créer un Minus</a>
<a href="">Créer un Educateur</a>
</div>