{% extends 'base.html.twig' %} 

{% block title %}Bienvenue{% endblock %}
 
{% block body %}
<div id="accueilAdmin">
    <h1 style="font-weight: 600;"><img src="{{ asset('Decor/feuilleParent-removebg-preview.png') }}" alt="fleur" />Bienvenue {{firstName}}<img src="{{ asset('Decor/feuilleParent-removebg-preview.png') }}" alt="fleur" /></h1>
    {% for child in children %}
    <h1>{{user.relationship}} de {{child.firstName}} {{child.lastName}}</h1>
    {% endfor %}
</div>
{% endblock %}

