{% form_theme form.icon 'form/icon_widget.html.twig' %}

{{ form_start(form, { attr: { id: 'mon_formulaire' } }) }}
    {# Liste tous les champs sauf 'icons' #}
    <div class="informationForm">
    <h3>Informations</h3>
    <div class="form_row">{{ form_row(form.firstName) }}</div>
    <div class="form_row">{{ form_row(form.lastName) }}</div>
    <div class="form_row">{{ form_row(form.birthDate) }}</div>
    <div class="form_row">{{ form_row(form.medicalNotes) }}</div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="form_row">{{ form_row(form.created_at) }}</div>
    {% endif %}
    <div class="form_row">{{ form_row(form.allergies) }}</div>
    <div class="form_row">{{ form_row(form.specialDiets) }}</div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="form_row">{{ form_row(form.childGroup) }}</div>
    {% endif %}
    </div>
{% if form.plannedPresences is defined %}

<div id="pres"data-prototype="{{ form_widget(form.plannedPresences.vars.prototype)|e('html_attr') }}">

<h3>Planning</h3>
    {% for pres in form.plannedPresences %}
        <div class="planned-presence">
        <table>
        <tr>
            <th scope="row">
            <td>{{ form_row(pres.week_day) }}</td>
            <td>{{ form_row(pres.arrival_time) }}</td>
            <td>{{ form_row(pres.departure_time) }}</td>
            </th>
        </tr>
        </table>
        </div>
    {% endfor %}
</div>
{% endif %}


<div class="form-group-child">
    {{ form_label(form.icon) }}
    {{ form_widget(form.icon) }}
</div>


<button type="submit" class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
