{% form_theme form.icon 'form/icon_widget.html.twig' %}

{{ form_start(form, { attr: { id: 'mon_formulaire' } }) }}
    {# Liste tous les champs sauf 'icons' #}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.medicalNotes) }}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.created_at) }}
    {% endif %}
    {{ form_row(form.allergies) }}
    {{ form_row(form.specialDiets) }}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.childGroup) }}
    {% endif %}
{% if form.plannedPresences is defined %}
<h3>Présences prévues</h3>
<div data-prototype="{{ form_widget(form.plannedPresences.vars.prototype)|e('html_attr') }}">
    {% for pres in form.plannedPresences %}
        <div class="planned-presence">
            {{ form_row(pres.week_day) }}
            {{ form_row(pres.arrival_time) }}
            {{ form_row(pres.departure_time) }}
        </div>
    {% endfor %}
</div>
{% endif %}

{# Section personnalisée pour les icônes #}
<div class="form-group">
    {{ form_label(form.icon) }}
    {{ form_widget(form.icon) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
