{% extends 'base.html.twig' %}
{% block title %}Edit Child{% endblock %}

{% block body %}
    <div id="titre">
    {% if child.icon is defined and child.icon %}
                <img src="{{ asset(child.icon.path) }}" alt="Icône de {{ child.firstName }}">
    {% endif %}
    <h1><span class="bold">Modifier les données de {{ child.firstName}} {{child.lastName}}</span></h1>
    </div> 
    {{include('child/_form.html.twig')}}


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_dashboard_child') }}" class="btn" id="buttonRetour">Retour</a>
        <form class="formButton" method="post" action="{{ path('app_child_delete', {'id': child.id}) }}" onsubmit="return confirm('Supprimer ce minus ?');" style="display: inline;">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ child.id) }}">
            <button class="btn">Supprimer</button>
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
        </form>
    {% endif %}
</div>

{% endblock %}

