

<div class="center">
  {{ form_widget(form.date) }}
</div>
{% block body %}


{# --- TABLE DES ENTRÉES EXISTANTES --- #}

<table class="old-entries" style="max-width:50rem; width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th>Heure</th>
            <th>Action</th>
            <th>Description</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in journal.entries %}
            <tr>
                <td>{{ entry.heure ? entry.heure|date('H:i') : '' }}</td>
                <td>{{ entry.action }}</td>
                <td>{{ entry.description }}</td>
                <td>{{ entry.note }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée pour ce journal.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{# --- FORMULAIRE POUR AJOUTER DE NOUVELLES ENTRÉES --- #}

{{ form_start(form) }}
<table id="tableJournalEntry">
    <thead>
        <tr>
            <th>Heure</th>
            <th>Action</th>
            <th>Description</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody id="entries-wrapper"
        data-prototype="
            <tr class='journal-entry-row'>
                <td>{{ form_widget(form.entries.vars.prototype.heure)|e('html_attr') }}</td>
                <td>{{ form_widget(form.entries.vars.prototype.action)|e('html_attr') }}</td>
                <td>{{ form_widget(form.entries.vars.prototype.description)|e('html_attr') }}</td>
                <td>{{ form_widget(form.entries.vars.prototype.note)|e('html_attr') }}</td>
            </tr>
        ">
        {% for entryForm in form.entries %}
            <tr class="journal-entry-row">
                <td>{{ form_widget(entryForm.heure) }}</td>
                <td>{{ form_widget(entryForm.action) }}</td>
                <td>{{ form_widget(entryForm.description) }}</td>
                <td>{{ form_widget(entryForm.note) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="buttons">
<button type="button" id="add-entry-btn">+ Ajouter une ligne</button>
<button type="submit" class="submitEntryJournal">Enregistrer</button>
</div>

{{ form_end(form) }}

{% endblock %}
