{% extends 'base.html.twig' %}

{% block title %}New Journal{% endblock %}

{% block body %}
    <div id="titre">
    {% if child.icon is defined and child.icon %}
                <img src="{{ asset(child.icon.path) }}" alt="Icône de {{ child.firstName }}">
    {% endif %}
    <h1><span class="bold">Journal de {{ child.firstName|capitalize }} {{ child.lastName|capitalize }}</span></h1>
    </div>

    {{ include('journal/_form.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn" href="{{ path('app_admin_dashboard_journal') }}" style="margin: 3rem auto;">Retour</a>
    {% endif %}
    {% if is_granted('ROLE_EDUC') %}
    <a class="btn" href="{{ path('app_educateur_child_journal') }}" style="margin-top: 3rem auto;">Retour</a>
    {% endif %}

    {% block javascripts %}
    <script src="{{ asset('js/entriesButton.js') }}"></script>
    {% endblock %}
{% endblock %}
