{% extends 'base_admin.html.twig' %}

{% block title %}Journal{% endblock %}

{% block body %}
    <h1>Journal de {{ child.firstName }} {{ child.lastName }}</h1>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Repas</th>
            <th>Sieste</th>
            <th>Couches</th>
            <th>Activité</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for journal in journals %}
            <tr>
                <td>{{ journal.date|date('d/m/Y') }}</td>
                <td>{{ journal.meal }}</td>
                <td>{{ journal.nap ? journal.nap|date('H:i') : '' }}</td>
                <td>{{ journal.diaperType }} {{ journal.diaperTime ? journal.diaperTime|date('H:i') : '' }}</td>
                <td>{{ journal.activity }}</td>
                <td>{{ journal.note }}</td>
                <td>
            <a href="{{ path('app_journal_edit', {'id': journal.id}) }}">edit</a>
            {{ include('journal/_delete_form.html.twig', { journal: journal }) }}
        </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun journal pour cet enfant.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <a href="{{ path('app_admin_dashboard_journal') }}">back to list</a>


{% endblock %}
