{% extends 'base.html.twig' %}

{% block title %}PlannedPresence{% endblock %}

{% block body %}
    <h1>PlannedPresence</h1>

    {% set days = {
    'Lundi': 'Monday',
    'Mardi': 'Tuesday',
    'Mercredi': 'Wednesday',
    'Jeudi': 'Thursday',
    'Vendredi': 'Friday'
} %}

<table class="table">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Arrivée</th>
            <th>Départ</th>
        </tr>
    </thead>
    <tbody>
        {% for label, day in days %}
            <tr>
                <td>{{ label }}</td>
                {% set found = false %}
                {% for presence in presences %}
                    {% if presence.week_day == day %}
                        <td>{{ presence.arrival_time ? presence.arrival_time|date('H:i') : '–' }}</td>
                        <td>{{ presence.departure_time ? presence.departure_time|date('H:i') : '–' }}</td>
                        {% set found = true %}
                        
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    <td>–</td>
                    <td>–</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>


    <a href="{{ path('app_planned_presence_index') }}">back to list</a>

    <a href="{{ path('app_planned_presence_edit', {'id': planned_presence.id}) }}">edit</a>

    {{ include('planned_presence/_delete_form.html.twig') }}
{% endblock %}
