{% extends 'base_admin.html.twig' %}

{% block title %}Semainier index{% endblock %}

{% block body %}
    <h1>Semainier du : {{ week_start|date('d/m/Y') }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Enfant</th>
                {% for day in weekDays %}
                    <th>{{ day|slice(0, 3) }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
                <tr>
                    <td>{{ child.firstName }} {{ child.lastName }}</td>
                    {% for day in weekDays %}
                        <td>
                            {# Cherche la PlannedPresence correspondante #}
                           
                            {% for semainier in semainiers %}
                            {% for pp in semainier.plannedPresences %}
                                {% if pp.child.id == child.id and pp.weekDay == day %}
                                    {% set planned = pp %}
                                {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% if plannedPresence %}
                                {{ plannedPresence.arrivalTime ? plannedPresence.arrivalTime|date('H:i') : '-' }}/{{ plannedPresence.departureTime ? plannedPresence.departureTime|date('H:i') : '-' }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ weekDays|length + 1 }}">Aucun enfant trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}