{% extends 'base.html.twig' %}

{% block title %}Semainier index{% endblock %}

{% block body %}
    <h1 class="titreSemainier">Semainier du : {{ startOfWeek|date('d/m/Y') }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Enfant</th>
                {% for day in weekDays %}
                    <th>{{ day|trans }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
                <tr>
                    <td>{{ child.firstName|capitalize }} {{ child.lastName|capitalize }}</td>
                    {% for day in weekDays %}
                        <td>
                            {% set planned = null %}
                            {% for pp in semainier.plannedPresences %}
                                {% if pp.child.id == child.id and pp.weekDay == day %}
                                    {% set planned = pp %}
                                 
                                {% endif %}
                            {% endfor %}
                            {% if planned %}
                                {{ planned.arrivalTime ? planned.arrivalTime|date('H:i') : '-' }}
                                /
                                {{ planned.departureTime ? planned.departureTime|date('H:i') : '-' }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ weekDays|length + 1 }}">Aucun enfant trouvé</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
<h2 class="titreSemainier">Semainiers du mois courant</h2>

<ul class="sem">
{% for sem in semainiers %}
    <li>Semaine du {{ sem.week_start_date|date('d/m/Y') }}</li>
{% else %}
    <li>Aucun semainier pour ce mois.</li>
{% endfor %}
</ul>

<a class="btn" href="{{ path('admin_dashboard') }}">Retour</a>
{% endblock %}