{% extends 'base_admin.html.twig' %}

{% block title %}Semainier index{% endblock %}

{% block body %}
    <h1>Semainier du : {{ startOfWeek|date('d/m/Y') }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Enfant</th>
            {% for day in weekDays %}
                <th>{{ day|slice(0, 3) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for entry in presencesByChild %}
            <tr>
                <td>{{ entry.child.firstName }} {{ entry.child.lastName }}</td>
                {% for day in weekDays %}
                    <td>{{ entry.days[day] ?? '-' }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ weekDays|length + 1 }}">Aucune présence trouvée</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    <a href="{{ path('app_semainier_new') }}">Create new</a>
{% endblock %}
