{% extends 'base.html.twig' %}

{% block title %}Créer un éducateur{% endblock %}

{% block body %}

<h1 class="titre"><img src="{{ asset('Decor/Mask_group__2_-removebg-preview.png') }}" alt="fleur"/>Créer un éducateur</h1>
{{ form_start(form, {'attr' : {'class' : 'formEducateur'} })}}

{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.email) }}
{{ form_row(form.phoneNumber) }}

<button id="button" class="btn" type="submit">Créer</button>
<div id="response"></div>

{{ form_end(form) }}

{% for message in app.flashes('success') %}
    <div style="color: green;">{{ message }}</div>
{% endfor %}

{% endblock %}