{% extends 'base.html.twig' %}

{% block title %}ChildPresence index{% endblock %}

{% block body %}
    <div id="bonjour">
        <h1>Passes une bonne journée avec les Minus ! </h1>
    </div>
    <table class="table">
        <thead>
            <tr class="headTable">  
                <th>ENFANTS</th>
                <th>STATUT</th>
                <th>PRESENT</th>
                <th>ARRIVEE<br>Heure</th>
                <th>DEPART<br>Heure</th>
                <th>ACTION DEPART</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody data-turbo="false">
            {% for child in children %}
                {% set presence = presenceMap[child.id] ?? null %}

                <tr data-child-id="{{ child.id }}">
                    <td>{{ child.firstName }} {{ child.lastName }}</td>
                    <td class="status-cell">
                        {% if presence %}🟢{% else %}🔴{% endif %}
                    </td>
                    <td class="presence-cell">
                        {% if not presence %}
                            <button class="presence mark-arrival-btn" 
                                    data-id="{{ child.id }}">
                                Présent
                            </button>
                        {% else %}
                            Oui
                        {% endif %}
                    </td>
                    
                    <td class="arrival-time">
                        {% if presence %}
                            {% if presence.arrivalTime %}
                                <span class="time-value">{{ presence.arrivalTime|date('H:i') }}</span>
                            {% else %}
                                <span class="time-value no-time">--:--</span>
                            {% endif %}
                        {% endif %}
                        
                    </td> 
                    
                    <td class="departure-time">
                        {% if presence %}
                            {% if presence.departureTime %}
                               {{ presence.departureTime|date('H:i') }}
                            {% else %}
                                <span class="time-value no-time">--:--</span>
                            {%  endif %}
                        {% endif %}
                    </td>
                    
                    <td class="departure-action">
                        {% if presence and presence.arrivalTime and not presence.departureTime %}
                            <button class="depart mark-departure-btn" 
                                    data-id="{{ presence.id }}">
                                Départ
                            </button>
                        {% elseif presence and presence.departureTime %}
                            ✔️
                        {% endif %}
                    </td>                              
                    <td class="actions-cell">
                {% if presence %}
                <div id="delete-form-{{ presence.child.id }}" style="display:none;">
                {% include 'child_presence/_delete_form.html.twig' with {'presence': presence} %}
                </div>
                {% endif %}
                    </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_dashboard') }}">Retour</a>
    {%  endblock %}